@import './variables';

.app-header {
    position: fixed;
    background: $header-bg;
    height: 40px;
    line-height: 40px;
    width: 100%;
    top: 0;
    z-index: 5;
    .brand {
        width: 60%;
        .fa-star {
            height: 100%;
            width: 30px;
            color: yellow;
            margin-left: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .right-panel {
        position: absolute;
        right: 10px;
        display: flex;
        .fa {
            color: #fff;
            margin-right:10px;
            position: relative;
            span {
                position: absolute;
                background: red;
                border-radius: 20px;
                width: 16px;
                font-size: 11px;
                font-weight: 600;
                top: -8px;
                right: -10px;
                text-align: center;
                cursor: pointer;
            }
        }
        input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            font-size: 12px;
            color: #fff;
            padding-bottom: 3px;
            width:120px;
        }
    }
}

.app-footer {
    background: $header-bg;
    color: #fff;
    height: 32px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}