@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';
@import './slider';
@import './header';
@import './main';

// custom styles

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-middle{
  align-items: center;
}

.hide {
  display: none;
}